<p id="notice"><%= notice %></p>

<p>
  <strong>Batch:</strong>
  <%= @enrolment_request.batch_id %>
</p>

<p>
  <strong>Student:</strong>
  <%= @enrolment_request.student_id %>
</p>

<p>
  <strong>Status:</strong>
  <%= @enrolment_request.status %>
</p>

<%= link_to 'Edit', edit_admin_enrolment_request_path(@enrolment_request) %> |
<%= link_to 'Back', admin_enrolment_requests_path %>
