<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          User Details
        </div>
        <div class="card-body">
          <p class="card-text">
            <strong>Name:</strong> <%= @user.name %>
          </p>
          <p class="card-text">
            <strong>Phone number:</strong> <%= @user.phone_number %>
          </p>
          <p class="card-text">
            <strong>Email:</strong> <%= @user.email %>
          </p>
          <p class="card-text">
            <strong>Role:</strong> <%= @user.role.name %>
          </p>
          <%= link_to 'Edit', edit_admin_user_path(@user), class: "btn btn-primary" %>
          <%= link_to 'Back', admin_users_path, class: "btn btn-secondary" %>
        </div>
      </div>
    </div>
  </div>
</div>
